.a1  {color :red; font-size: 30px;}
.a2 {color :green;}
.a3 {color :green;}
.a4 {color :green;}
.a5 {color :purple;}
span {color :green;}
.a7 {color :yellow; font-size: 20px;}
.a8 {color: blue;}
.a9{background-color: silver;}
.b1{background-color: silver;}
.b2{background-color: silver;}
.b3{background-color: silver;}
.b4{color: red; font-size: 20px;}
.b5{color: green;}
.b6{color: green;}
.b7{color: green;}
.b8{color: red; font-size: 20px;}
.b9 { border-radius: 10px;}
.c1 { border-radius: 10px 0px 10px 0px;}